{
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"endOfLine": "lf",
	"jsxBracketSameLine": false,
	"jsxSingleQuote": true,
	"quoteProps": "consistent",
	"semi": true,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "none",
	"useTabs": true,
	"overrides": [
		{
			"files": ["**/*.scss", "**/*.css"],
			"options": {
				"printWidth": 1000,
				"singleQuote": false
			}
		}
	]
}
