.header {
	height: 715px;
	background-image: url("../img/header/header_bg.png");
	background-position: center bottom;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: "Roboto", sans-serif;
	font-style: normal;
	color: #094e92;
	margin-bottom: 68px;
	@include media(lg) {
		background-image: url("../img/header/header_bg_1024.png");
	}
	@include media(md) {
		width: 100vw;
		height: 100vw;
		margin-bottom: 50px;
		background-image: url("../img/header/header_bg_mob.png");
	}

	&__inner {
		position: relative;
		padding-top: 155px;
		padding-bottom: 142px;
		@include media(md) {
			padding-top: 55px;
			padding-bottom: 0;
		}
	}
	&__title {
		margin-bottom: 17px;
		font-weight: 700;
		font-size: 50px;
		line-height: 59px;
		@include media(md) {
			font-size: 25px;
			line-height: 100%;
			margin-bottom: 8px;
		}
	}
	&__subtitle {
		margin-bottom: 50px;
		font-weight: 500;
		font-size: 30px;
		line-height: 40px;
		max-width: 604px;
		letter-spacing: -0.7px;
		mark {
			background-color: transparent;
			color: inherit;
			font-weight: 700;
		}
		@include media(xl) {
			margin-bottom: 64px;
			font-size: 25px;
			line-height: 35px;
			letter-spacing: inherit;
		}
		@include media(md) {
			margin-bottom: 25px;
			font-size: 13px;
			line-height: 100%;
		}
	}
	&__nav {
		display: flex;
		justify-content: space-between;
		@include media(md) {
			//width: 278px;
			width: auto;
			margin: 0 auto 4px;
		}
	}
	&__nav-item {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 166px;
		font-weight: 700;
		font-size: 25px;
		line-height: 40px;
		&:not(:last-child) {
			&:after {
				content: "";
				position: absolute;
				top: 83px;
				right: -30px - 40px;
				width: 30px;
				height: 6px;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				background-image: url("data:image/svg+xml,%3Csvg width='31' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30.35 4.35a.5.5 0 000-.7L27.17.46a.5.5 0 10-.7.71L29.28 4l-2.83 2.83a.5.5 0 10.71.7l3.18-3.18zM0 4.5h30v-1H0v1z' fill='%23094E92'/%3E%3C/svg%3E");
				@include media(lg) {
					right: -40px;
					top: 70px;
				}
				@include media(md) {
					background-image: url("data:image/svg+xml,%3Csvg width='7' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.35 4.35a.5.5 0 000-.7L3.17.46a.5.5 0 10-.7.71L5.28 4 2.46 6.83a.5.5 0 10.71.7l3.18-3.18zM0 4.5h6v-1H0v1z' fill='%23094E92'/%3E%3C/svg%3E");
					width: 8%;
					height: 8%;
					top: 50%;
					right: calc(-16% + 3px);
					transform: translate(0, -18px);
				}
			}
		}
		@include media(lg) {
			width: 137px;
			font-size: 18px;
			line-height: 22px;
		}
		@include media(md) {
			//width: 50px;
			width: auto;
			font-size: 7px;
			line-height: 150%;
		}
	}
	&__nav-img {
		margin-bottom: 9px;
		width: 164px;
		height: 164px;
		@include media(lg) {
			width: 137px;
			height: 137px;
			margin-bottom: 18px;
		}
		@include media(md) {
			width: calc((50 / 320) * 100vw);
			height: calc((50 / 320) * 100vw);
			margin-bottom: 8px;
		}
	}
	&__nav-text {
		text-align: center;
		@include media(md) {
			max-width: 50px;
		}
	}
	&__qr {
		display: flex;
		position: absolute;
		top: 50px;
		right: 47px;
		justify-content: center;
		@include media(lg) {
			right: 0;
		}
		@include media(md) {
			position: static;
		}
	}
	&__qr-inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 236px;
		@include media(md) {
			width: calc((65 / 320) * 100vw);
		}
	}
	&__qr-img{
		width: 100%;
	}
	&__qr-text {
		margin-top: 8px;
		text-align: center;
		font-weight: 500;
		font-size: 24px;
		line-height: 32px;
		mark {
			background-color: transparent;
			color: inherit;
			font-weight: 700;
		}
		@include media(md) {
			margin-top: 4px;
			font-size: 7px;
			line-height: 150%;
		}
	}
}

.logo {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	@include media(md) {
		width: 51px;
	}
}
.main-bg {
	position: absolute;
	top: -125px;
	left: 0;
	right: 0;
	height: 100%;
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../img/bg.png");
	z-index: -1;
	@include media(lg) {
		background-image: url("../img/bg_2.png");
	}
	@include media(md) {
		background-size: contain;
	}
}
.production {
	margin: auto;
	margin-bottom: 91px;
	max-width: 823px;
	@include media(md) {
		margin-bottom: 50px;
	}
	&__header {
		max-width: 812px;
		margin: 0 auto 25px;
		font-family: "Roboto", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 48px;
		line-height: 58px;
		text-align: center;
		color: #004995;
		mark {
			font-weight: 700;
			background-color: transparent;
			color: inherit;
		}
		@include media(md) {
			margin: 0 auto 14px;
			font-size: 25px;
			line-height: 30px;
		}
	}
	&__paragraph {
		font-family: "Roboto", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 31px;
		text-align: center;
		color: #3c3c3c;
		&:not(:last-child) {
			padding-bottom: 2em;
		}
		@include media(md) {
			font-size: 16px;
			line-height: 30px;
		}
		mark {
			background-color: transparent;
			font-weight: 700;
		}
	}
}
.path {
	margin-bottom: 102px;
	@include media(md) {
		margin-bottom: 68px;
	}
	&__header {
		margin-bottom: 50px;
		font-family: "Roboto", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 40px;
		line-height: 47px;
		text-align: center;
		color: #004995;
		@include media(md) {
			margin-bottom: 24px;
			font-size: 25px;
			line-height: 30px;
		}
		mark {
			background-color: transparent;
			color: inherit;
			font-weight: 700;
		}
	}
	&__slider-wrap {
		@include media(md) {
			width: calc(100% + 20px);
			overflow: auto;
		}
	}
	&__slider {
		position: relative;
		width: 100%;
		padding-bottom: 400px;
		@include media(md) {
			padding-bottom: 0;
		}
	}
	&__tabs {
		display: flex;
		justify-content: space-between;
		padding-bottom: 30px;
		margin-bottom: 36px;
		border-bottom: 1px solid #f1f1f1;
		@include media(lg) {
			margin-bottom: 29px;
		}
		@include media(md) {
			justify-content: flex-start;
			border-bottom: none;
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
	&__label {
		margin-bottom: 0;
	}
	&__tab {
		margin: 0;
		border: 1px solid #f1f1f1;
		border-radius: 58px;
		padding: 13px 16px;
		font-family: "Roboto", sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 23px;
		color: #747473;
		background-color: transparent;
		cursor: pointer;
		&:hover, &:focus {
			background-image: linear-gradient(90deg, #1a80e3 0%, #1a80e3 0.01%, #6fb3f6 100%);
			box-shadow: 0 7px 20px rgba(155, 202, 247, 0.6);
			border-radius: 49px;
			color: #ffffff;
			outline: none;
		}
		@include media(lg) {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			padding: 0 10px;
			width: 172px;
			height: 55px;
			font-size: 16px;
			line-height: 19px;
		}
		@include media(md) {
			width: 251px;
			min-width: 251px;
			height: 49px;
			margin-bottom: 30px;
			&:not(:last-child) {
				margin-right: 9px;
			}
		}
	}
	&__card {
		display: none;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 400px;
		@include media(md) {
			position: static;
			display: flex;
			flex-direction: column;
			width: 251px;
			height: auto;
			&:not(:last-child) {
				margin-right: 9px;
			}
		}
	}
	&__img-side {
		position: relative;
		width: 615px;
		min-width: 615px;
		margin-right: 68px;
		&:before {
			content: "";
			position: absolute;
			top: 20px;
			left: 20px;
			width: 100%;
			height: 100%;
			background-color: rgba(183, 203, 255, 0.1);
			border: 1px solid #f1f1f1;
			border-radius: 5px;
			z-index: -1;
			@include media(lg) {
				content: none;
			}
		}
		@include media(lg) {
			width: 440px;
			min-width: 440px;
			margin-right: 40px;
		}
		@include media(md) {
			width: 100%;
			min-width: 100%;
			height: 163px;
			margin-bottom: 20px;
		}
	}
	&__img-wrap {
		height: 100%;
		border-radius: 5px;
		overflow: hidden;
	}
	&__img {
		height: 100%;
		@include media(lg) {
			transform: translate(-77px, 0);
		}
		@include media(md) {
			transform: none;
		}
	}
	&__card-text-wrap {
		display: flex;
		align-items: center;
		flex-grow: 1;
	}
	&__card-text {
		font-family: "Roboto", sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 25px;
		line-height: 38px;
		color: #3c3c3c;
		@include media(lg) {
			font-size: 22px;
			line-height: 36px;
		}
		@include media(md) {
			font-size: 18px;
			line-height: 32px;
		}
		mark {
			color: #004995;
			background-color: transparent;
		}
	}
	&__br-desk {
		@include media(lg) {
			display: none;
		}
	}
	&__br-tab {
		display: none;
		@include media(lg) {
			display: block;
		}
		@include media(md) {
			display: none;
		}
	}
	&__br-mob {
		display: none;
		@include media(md) {
			display: block;
		}
	}
	&__checkbox {
		position: absolute;
		clip: rect(0, 0, 0, 0);
	}

	.slick-active &__tab {
		background-image: linear-gradient(90deg, #1a80e3 0%, #1a80e3 0.01%, #6fb3f6 100%);
		box-shadow: 0 7px 20px rgba(155, 202, 247, 0.6);
		border-radius: 49px;
		color: #ffffff;
		outline: none;
	}

	&__checkbox:checked ~ &__tab {
		@media (min-width: 1024px) {
			background-image: linear-gradient(90deg, #1a80e3 0%, #1a80e3 0.01%, #6fb3f6 100%);
			box-shadow: 0 7px 20px rgba(155, 202, 247, 0.6);
			border-radius: 49px;
			color: #ffffff;
			outline: none;
		}
	}
	&__checkbox:checked ~ &__card {
		display: flex;
	}
}
.innovation {
	margin-bottom: 48px;
	@include media(md) {
		margin-bottom: 0;
	}
	&__header {
		@include media(md) {
			margin-bottom: 12px;
		}
	}
	&__title {
		margin-bottom: 11px;
		font-family: "Roboto", sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 60px;
		line-height: 70px;
		text-align: center;
		color: #004995;
		@include media(md) {
			font-size: 25px;
			line-height: 29px;
		}
	}
	&__subtitle {
		font-family: "Roboto", sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 30px;
		line-height: 40px;
		text-align: center;
		color: #094e92;
		@include media(md) {
			margin: 0 -4px;
			font-size: 16px;
			line-height: 26px;
		}
		mark {
			font-weight: 700;
			color: inherit;
			background-color: transparent;
		}
	}
	&__img-wrap {
		display: flex;
		justify-content: center;
		@include media(md) {
			margin-bottom: 22px;
		}
	}
	&__img {
		width: 837px;
		@include media(md) {
			width: 100%;
		}
		&_desk {
			@include media(xs) {
				display: none;
			}
		}
		&_mob {
			display: none;
			@include media(xs) {
				display: block;
			}
		}
	}
	&__note {
		margin: 0 auto 30px;
		max-width: 530px;
		font-family: "Roboto", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 18px;
		text-align: center;
		color: #747473;
	}
	&__tab {
		display: block;
		text-align: center;
		margin: auto;
		max-width: 334px;
		border: 1px solid #f1f1f1;
		padding: 13px 16px;
		font-family: "Roboto", sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 24px;
		background-image: linear-gradient(90deg, #1a80e3 0%, #1a80e3 0.01%, #6fb3f6 100%);
		box-shadow: 0 7px 20px rgba(155, 202, 247, 0.6);
		border-radius: 49px;
		color: #ffffff;
		cursor: pointer;
		@include media(md) {
			font-size: 16px;
			line-height: 24px;
		}
		&:hover {
			text-decoration: none;
			color: #ffffff;
			opacity: 0.8;
		}
	}
}
.footer {
	color: #ffffff;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
	background-image: url("data:image/svg+xml,%3Csvg width='1920' height='298' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0s584 56 960 56 960-56 960-56v298H0V0z' fill='%23003087'/%3E%3C/svg%3E");
	@media (max-width: 321px) {
		background-image: url("data:image/svg+xml,%3Csvg width='320' height='334' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-450 0s371 63 610 63S770 0 770 0v334H-450V0z' fill='%23003087'/%3E%3C/svg%3E");
	}
	&__inner {
		padding-top: 108px;
		padding-bottom: 13px;
	}
	&__contacts {
		padding-bottom: 40px;
		border-bottom: 1px solid #013daa;
		font-family: "Roboto", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
		@include media(md) {
			padding-bottom: 18px;
		}
	}
	&__contacts-title {
		margin-bottom: 1em;
	}
	&__contact {
		display: block;
		font-weight: 700;
		color: #ffffff;
		cursor: pointer;
		&:not(:last-child) {
			margin-bottom: 1em;
		}
		&:hover {
			text-decoration: none;
			color: #ffffff;
		}
	}
	&__links {
		display: flex;
		justify-content: space-between;
		padding: 11px 0 0;
		@include media(md) {
			flex-direction: column;
			align-items: center;
		}
	}
	&__link, &__copyright {
		font-family: "Roboto", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 31px;
		text-align: center;
		color: #ffffff;
	}
	&__link {
		&:hover {
			text-decoration: none;
			color: #ffffff;
		}
	}
	&__copyright {
		@include media(md) {
			order: 1;
		}
	}
}
