// Общие настройки
$font-formats: ("eot", "woff", "ttf"); // Доступны в snippets - eot, woff2, woff, ttf, svg
$url-img: "../img"; // Путь к изображениям
$url-font: "../fonts"; // Путь к шрифтам
$url-img-libs: "../" + $url-img; // Путь к изображениям (для библиотек)
$url-font-libs: "../" + $url-font; // Путь к шрифтам (для библиотек)

// Переменные цветов
$ac: #ff0000;
$textBtn: #000000;
$kassaBg: #4d4e4c;
$text2: #8a8b8a;
$grayText: #bebfbe;

// Настройки брэкпоинтов (+25 для полосы прокрутки на десктопах)
// prettier-ignore
$breakpoints: (
	xxs: 0,
	xs: 320px,
	sm: 768px,
	md: 1000px,
	lg: 1024px,
	xl: 1440px
	//xxl: 1920px
) !default;

// Настройки контейнера
// prettier-ignore
$max-widths: (
	xxs: 100%,
	xs: 100%,
	sm: 100%,
	md: 100%,
	lg: 905px + 42px,
	xl: 1251px + 42px
	//xxl: 1251px
) !default;

$grid-gutter-width: 42px !default; // Отступ между колонками ( сумма падингов одной колонки )
$grid-columns: 12 !default; // Количество колонок

// Импорт вспомогательных сниппетов (всегда в конце)
@import "node_modules/sass-snippets/scss/snippets";
